<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Meta tag -->
    <div th:replace="my-teamplate.html :: head/meta"></div>
    <!-- Bootstrap CSS, CSS -->
    <div th:replace="my-teamplate.html :: head/link"></div>
    <!-- Jquery, JavaScript -->
    <div th:replace="my-teamplate.html :: head/script"></div>
    <title>Profile Pattern Page</title>
</head>

<body>
<!-- Navigation menu -->
<div th:replace="my-teamplate.html :: header"></div>
<!-- Main content -->
<main>
    <div class="container">
        <div class="row justify-content-center">

            <!-- Left side - information of userAccount -->
            <div th:replace="employee/employee.html :: userInfor"></div>
            <!-- Content -->
            <div class="col-md-8 col-sm-12 text-section align-center" style="padding:10px;">
                <h3 class="mbr-fonts-style mbr-title text-left">CRF™ Profile Pattern</h3>
                <div class="container">
                    <div class="row justify-content-center content-center">
                        <div class="col-md-6 text-section align-left" style="padding:10px;">
                            <ul class="mbr-fonts-style mbr-text display-7 text-left">
                                <li>Apply for Period: <b>S2-2020</b></li>
                                <li>CRF™ Profile Pattern: <b>Software Engineer.</b></li>
                                <li>Created: <b>1/June/2020</b></li>
                            </ul>
                        </div>
                        <div class="col-md-6 text-section align-left" style="padding:10px;">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row justify-content-center content-center">
                        <div class="col-md-12 text-section align-left" style="padding:10px;">
                            <p class="mbr-fonts-style mbr-text display-7 text-center">
                                ---<a title="Responsibilities and Roles" th:href="@{/profile-patterns/new-pattern-detail(location=0,patternId=${patternId})}">🔵</a>
                                -----<a title="Business Contributions" th:href="@{/profile-patterns/new-pattern-detail(location=1,patternId=${patternId})}">🔵</a>
                                -----<a title="Professional Skills" th:href="@{/profile-patterns/new-pattern-detail(location=2,patternId=${patternId})}">🔴</a>
                                -----<a title="Advanced Engineering Skills" th:href="@{/profile-patterns/new-pattern-detail(location=3,patternId=${patternId})}">🔘</a>
                                -----<a title="Non-Engineering Skills" th:href="@{/profile-patterns/new-pattern-detail(location=4,patternId=${patternId})}">🔘</a>
                                -----<a title="Natural Language Skills" th:href="@{/profile-patterns/new-pattern-detail(location=5,patternId=${patternId})}">🔘</a>
                                -----<a title="Knowledge and Education" th:href="@{/profile-patterns/new-pattern-detail(location=6,patternId=${patternId})}">🔘</a>
                                -----<a title="Summary" th:href="@{/profile-patterns/new-pattern-detail(location=7,patternId=${patternId})}">🔘</a>---
                            </p>
                        </div>
                    </div>
                    <br>
                    <div class="row justify-content-center content-center">
                        <div class="col-md-12 text-section align-left" style="padding:10px;">
                            <h3 class="mbr-fonts-style mbr-title pb-3 display-5 text-left">Create Profile Ranking - Professional Skills</h3>
                            <form th:action="@{/profile-patterns/create-pattern-detail}" method="post" th:object="${patternComponentListWrapper}">
                            <table class="table table-borderless table-responsive-md">
                                <tbody>
                                <input type="hidden" name="location" th:value="${location}" >
                                <input type="hidden" name="patternId" th:value="${patternId}">
                                <tr style="background-color:#66F5F5;">
                                    <td class="text-left align-center">Professional [Software Engineering] Skills</td>

                                    <td class="text-center">%Rate</td>
                                    <td class="text-center align-center" nowrap="">
                                        Evidence
                                    </td>
                                    <td class="text-left align-center" nowrap="" style="width:120px;">Maximum Level</td>
                                    <td class="text-center vertical-menu">Action</td>
                                </tr>
                                <tr style="background-color:#F6F5F5;"
                                    th:each="patternAndComponent, stat: ${patternComponentListWrapper.patternDetails}">
                                    <div th:if="*{patternDetails[__${stat.index}__]?.competencyComponentDetail?.componentDetailName != 'test'}">
                                        <td tr-click="table-row-21" class="text-left" th:text="${patternAndComponent?.competencyComponentDetail?.componentDetailName}"></td>
                                    </div>
                                    <div th:unless="*{patternDetails[__${stat.index}__]?.competencyComponentDetail?.componentDetailName != 'test'}">
                                        <td><select name = "newComponentDetail">
                                            <option value="9" selected>Ecosystem</option>
                                            <option value="10">SQL Programming Language</option>
                                            <option value="11">Database Diagram and Structure Design</option>
                                            <option value="12">Desktop Apps Development</option>
                                            <option value="13">Web Apps Development</option>
                                            <option value="14">Web Services Development</option>
                                            <option value="15">Reports and Documents</option>
                                        </select>
                                        </td>
<!--                                        <img image-icon="table-row-34" src="/icons/arrowDown.png" class="image-nosize">-->
                                    </div>
                                    <!-- This line is used to store competencyComponentDetail -->
                                    <input type="hidden" th:field="*{patternDetails[__${stat.index}__]?.competencyComponentDetail}" />

                                    <!-- This line is used to store competencyRankingPatternDetail -->
                                    <input type="hidden" th:field="*{patternDetails[__${stat.index}__]?.competencyRankingPattern}" />

                                    <!-- This line is used to store patternDetailAndComponentDetail id -->
                                    <input type="hidden" th:field="*{patternDetails[__${stat.index}__]?.competencyPatternDetailId}" />

                                    <td class="text-center">
                                        <input type="text" readonly class="align-center" maxlength="2" size="2" name="rankingWeight"
                                               th:field="*{patternDetails[__${stat.index}__]?.weightDetail}">
                                    </td>

                                    <td class="text-center align-center" nowrap="">
                                        <select style="width:100px;" name="optional" th:field="*{patternDetails[__${stat.index}__]?.optional}">
                                            <option th:value="Optional">Optional</option>
                                            <option th:value="Required">Required</option>
                                        </select>
                                    </td>
                                    <td class="text-left align-top" nowrap="">
                                        <select style="width:150px;" name="maxLevel" th:field="*{patternDetails[__${stat.index}__]?.maxLevel}">
                                            <option th:each="level: *{patternDetails[__${stat.index}__]?.competencyComponentDetail?.proficiencyLevels}" th:value="${level.proficiencyLevelName}"><p th:text="${level.proficiencyLevelName}"></p> </option>
                                        </select>
                                    </td>
                                    <td>
                                        <div th:if="*{patternDetails[__${stat.index}__]?.competencyComponentDetail?.componentDetailName != 'test'}">
                                            <button type="submit" name="delete" th:value="*{patternDetails[__${stat.index}__].competencyPatternDetailId}">delete</button>
                                        </div>
                                        <div th:unless="*{patternDetails[__${stat.index}__]?.competencyComponentDetail?.componentDetailName != 'test'}">
                                        </div>
                                    </td>
<!--                                    <td class="vertical-menu">-->
<!--                                        <a href="#"><img src="/icons/delet  e.png" style="width:18px;" title="Delete"></a>-->
<!--                                    </td>-->
                                </tr>


                                </tbody>

                            </table>
                            <br>
                            <p class="mbr-fonts-style mbr-text display-7 text-left"><i>You can add CRF™ framework component to "Software Engineer" profile pattern OR remove existing component out of profile pattern.</i><br><input type="submit" name="addNewComponentDetail" value="Add New Component Detail">Add New Component</input><br></p>
                            <br><i>You are now can save and finish profile pattern OR save profile pattern and continue to rankings of Engineering Skills page.</i><br>
                            <br>

                                <button type="submit" class="btn btn-outline-success" name="saveAndFinish" value="finish">Save &amp; Finish</button>
                                <button type="submit" class="btn btn-outline-secondary" name="saverAndContinue" value="continue">Save & Continue</button>><br></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Footer of Page -->
<div th:replace="my-teamplate.html :: footer"></div>

</body>

</html>