<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Meta tag -->
    <div th:replace="my-teamplate.html :: head/meta"></div>
    <!-- Bootstrap CSS, CSS -->
    <div th:replace="my-teamplate.html :: head/link"></div>
    <!-- Jquery, JavaScript -->
    <div th:replace="my-teamplate.html :: head/script"></div>
    <title>Change Password Page</title>
</head>

<body>
<!-- Navigation menu -->
<div th:replace="my-teamplate.html :: header"></div>
<!-- Main content -->
<main>
    <div class="container">
        <div class="row justify-content-center">

            <!-- Left side - information of userAccount -->
            <div th:replace="employee/employee.html :: userInfor"></div>

            <!-- Right side content -->
            <div class="col-md-8 justify-content-left">
                <h2 class="display-4 mb-3">Change myCRF™ Account Password</h2>
                <p class="text-left">
                    Thank you for choosing myCRF™ system. You can now change myCRF™ account password.
                </p>
                <form th:action="@{/employee/change-password}" method="POST" id="pwdForm">
                    <div class="text-left text-danger" th:text="${message}"></div>
                    <div class="form-group w-50">
                        <label for="currentPassword">Current Password:</label>
                        <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Input current password">
                        <small id="currentPasswordHelp" class="form-text text-muted">At least 1 lower, uppercase, special character</small>
                    </div>
                    <div class="form-group w-50">
                        <label for="newPassword">New Password:</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Input new password">
                        <small id="newPasswordHelp" class="form-text text-muted">At least 1 lower, uppercase, special character</small>
                    </div>
                    <div class="form-group w-50">
                        <label for="confirmPassword">Confirm New Password:</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Input confirm new password">
                    </div>
                    <div class="form-group">
                        <div class="g-recaptcha mt-4 mb-5" th:data-sitekey="${@environment.getProperty('recaptcha.key.site')}"></div>
                    </div>
                    <hr>
                    <p class="text-left pt-2 pb-2">Change a myCRF™ Account Password Now?</p>
                    <button type="submit" class="btn btn-outline-success m-2"
                            onclick="return confirm('Are you sure you wanna change your password?')" name="submit">Change Password</button>
                    <a class="btn btn-info m-2" onclick="return confirm('Are you sure you wanna cancel?')"
                       th:href="@{'/' + ${page}}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</main>
<script>
    let currentPassword = $('#current-password').val();
    let newPassword = $('#new-password').val();

    /* Validate password */
    $(document).ready(function() {
        $.validator.addMethod("checkLower", function(pwd) {
            return /[a-z]/.test(pwd);
        });
        $.validator.addMethod("checkUpper", function(pwd) {
            return /[A-Z]/.test(pwd);
        });
        $.validator.addMethod("checkDigit", function(pwd) {
            return /[0-9]/.test(pwd);
        });
        $.validator.addMethod("checkSpecial", function(pwd) {
            return /[=!\-`~@#$%^&*()<>_+,.{}|'[;:?/\\\]']/.test(pwd);
        });
        $.validator.addMethod("noSpace", function(pwd) {
            return /^\S+$/.test(pwd);
        });
    });

    $('#pwdForm').validate({
        rules: {
            currentPassword: {
                required: true,
                checkLower: true,
                checkUpper: true,
                checkDigit: true,
                checkSpecial: true,
                noSpace: true
            },
            newPassword: {
                required: true,
                checkLower: true,
                checkUpper: true,
                checkDigit: true,
                checkSpecial: true,
                noSpace: true
            },
            confirmPassword: {
                equalTo: '#newPassword'
            }
        },
        messages: {
            currentPassword: {
                required: "The Current Password is not empty",
                checkLower: "Need at least 1 Lower character",
                checkUpper: "Need at least 1 Upper character",
                checkDigit: "Need at least 1 Digit",
                checkSpecial: "Need at least 1 special character",
                noSpace: "Don't input a space"
            },
            newPassword: {
                required: "The New Password is not empty",
                checkLower: "Need at least 1 Lower character",
                checkUpper: "Need at least 1 Upper character",
                checkDigit: "Need at least 1 Digit",
                checkSpecial: "Need at least 1 special character",
                noSpace: "Don't input a space character"
            },
            confirmPassword: {
                equalTo: "Please check the confirm password again"
            },
        }
    })

</script>
<!-- Footer of Page -->
<div th:replace="my-teamplate.html :: footer"></div>
</body>
</html>