
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Meta tag -->
    <div th:replace="my-teamplate.html :: head/meta"></div>
    <!-- Bootstrap CSS, CSS -->
    <div th:replace="my-teamplate.html :: head/link"></div>
    <!-- Jquery, JavaScript -->
    <div th:replace="my-teamplate.html :: head/script"></div>
    <title>Create Profile Page</title>
</head>

<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-brand">
            <a class="" href="#">
                <img src="/image/brand-logo.jpg" width="50px" height="50px" class="d-inline-block align-top" />
            </a>
            <a class="text-light" href="">Get Started FREE, Now!</a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ml-auto" id="navbarToggle">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Account
                    </a>
                    <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-light" href="#">My Account</a>
                        <a class="dropdown-item text-light" href="#">Edit my Account</a>
                        <a class="dropdown-item text-light" href="#">Change my Password</a>
                        <a class="dropdown-item text-light" href="#">Deactivate my Account</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Skills
                    </a>
                    <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-light" href="#">My Skills</a>
                        <a class="dropdown-item text-light" href="#">My Skills Up</a>
                        <a class="dropdown-item text-light" href="#">My Re-Skills</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        edXOps
                    </a>
                    <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-light" href="#">Production-like Project</a>
                        <a class="dropdown-item text-light" href="#">Online Bootcamp</a>
                        <a class="dropdown-item text-light" href="#">edXOps Certifications</a>
                        <a class="dropdown-item text-light" href="#">Learning Pathways</a>
                        <a class="dropdown-item text-light" href="#">Skill Chains</a>
                        <a class="dropdown-item text-light" href="#">Tools and Apps</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>

            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 align-center bg-light">
                <h2 class="display-4 mb-4">myCRF™ Account</h2>
                <p class="text-center">
                    <a class="btn btn-outline-dark p-2" href="#">Sign - Out!</a>
                </p>
                <p class="text-center">
                    <img class="w-100" src="/image/Hulk.jpg" />
                </p>
                <div class="table-responsive-md">
                    <table class="table table-borderless w-100">
                        <tr>
                            <td class="text-left p-1 pl-4">Email: Demo@gmail.com</td>
                        </tr>
                        <tr>
                            <td class="text-left p-1 pl-4">Account: Demo Account</td>
                        </tr>
                        <tr>
                            <td class="text-left p-1 pl-4">Job Title: <span class="font-weight-bold">Software Engineer</span></td>
                        </tr>
                        <tr>
                            <td class="text-left p-1 pl-4">AccountStatus: Activated</td>
                        </tr>
                        <tr>
                            <td class="text-left p-1 pl-4">Created: 18-April-2019</td>
                        </tr>
                        <tr>
                            <td class="text-left p-1 pl-4">Last Modified: 18-April-2020</td>
                        </tr>
                        <tr>
                            <td class="text-left p-1 pl-4">Last Login: 18-April-2020</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-8 justify-content-left">
                <div class="col-md-8 col-sm-12 text-section align-center" style="padding:10px;">
                    <h2>Create New Profile</h2>

                    <h5>Start creating myCRF™ Profile now.<br></h5><br>

                    <ul class="mbr-fonts-style mbr-text display-7 text-left">
                        <li>Copy new profile from CRF™'s Pattern.</li>
                        <li>Clone Professional Skills and Contributions.</li>
                        <li>Clone Engineering and Non-Engineering Skills</li>
                    </ul>
                    <table border="0" class="align-center" style="width:100%;">

                        <tbody>
                        <tr>
                            <td class="text-left">For Period:</td>
                            <td class="text-left"><select><option value="S2-2020">S2-2020.</option><option value="S1-2021">S2-2020.</option></select></td>
                        </tr>
                        <tr>
                            <td class="text-left">Profile title:</td>
                            <td class="text-left"><input type="text" value="JavaFX Engineer" size="23" maxlength="100"></td>
                        </tr>
                        <tr>
                            <td class="text-left" style="width:15%;">Profile template:</td>
                            <td class="text-left">
                                <input type="radio" name="template" value="1" size="35" maxlength="100" checked="">&nbsp;Software Engineer<br>
                                <input type="radio" name="template" value="2" size="35" maxlength="100">&nbsp;Software Tester<br>
                                <input type="radio" name="template" value="3" size="35" maxlength="100">&nbsp;Software Project Manager<br>
                                <input type="radio" name="template" value="4" size="35" maxlength="100">&nbsp;Software Business Analyst<br>
                                <input type="radio" name="template" value="5" size="35" maxlength="100">&nbsp;Data Engineer<br>
                                <input type="radio" name="template" value="6" size="35" maxlength="100">&nbsp;AI/ML Engineer<br>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left">&nbsp;</td>
                            <td class="text-left">
                                <a href="#" class="btn btn-black" role="button">Create Profile</a>
                                <a href="#" class="btn btn-black-outline" role="button">Cancel</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Footer of Page -->
<div th:replace="my-teamplate.html :: footer"></div>
</body>

</html>