
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Meta tag -->
    <div th:replace="my-teamplate.html :: head/meta"></div>
    <!-- Bootstrap CSS, CSS -->
    <div th:replace="my-teamplate.html :: head/link"></div>
    <!-- Jquery, JavaScript -->
    <div th:replace="my-teamplate.html :: head/script"></div>
    <title>Non Engineering Skill Page</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-brand">
                <a class="" href="#">
                    <img src="/image/brand-logo.jpg" width="50px" height="50px" class="d-inline-block align-top" />
                </a>
                <a class="text-light" href="">Get Started FREE, Now!</a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse ml-auto" id="navbarToggle">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          My Account
                        </a>
                        <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-light" href="#">My Account</a>
                            <a class="dropdown-item text-light" href="#">Edit my Account</a>
                            <a class="dropdown-item text-light" href="#">Change my Password</a>
                            <a class="dropdown-item text-light" href="#">Deactivate my Account</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          My Skills
                        </a>
                        <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-light" href="#">My Skills</a>
                            <a class="dropdown-item text-light" href="#">My Skills Up</a>
                            <a class="dropdown-item text-light" href="#">My Re-Skills</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          edXOps
                        </a>
                        <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-light" href="#">Production-like Project</a>
                            <a class="dropdown-item text-light" href="#">Online Bootcamp</a>
                            <a class="dropdown-item text-light" href="#">edXOps Certifications</a>
                            <a class="dropdown-item text-light" href="#">Learning Pathways</a>
                            <a class="dropdown-item text-light" href="#">Skill Chains</a>
                            <a class="dropdown-item text-light" href="#">Tools and Apps</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 align-center bg-light">
                    <h2 class="d-flex justify-content-center display-4 mb-4">myCRF™ Account</h2>
                    <p class="text-center">
                        <a class="btn btn-outline-dark p-2" href="#">Sign - Out!</a>
                    </p>
                    <p class="text-center">
                        <img class="w-100" src="/image/Hulk.jpg" />
                    </p>
                    <div class="table-responsive-md">
                        <table class="table table-borderless w-100">
                            <tr>
                                <td class="text-left p-1 pl-4">Email: Demo@gmail.com</td>
                            </tr>
                            <tr>
                                <td class="text-left p-1 pl-4">Account: Demo Account</td>
                            </tr>
                            <tr>
                                <td class="text-left p-1 pl-4">Job Title: <span class="font-weight-bold">Software Engineer</span></td>
                            </tr>
                            <tr>
                                <td class="text-left p-1 pl-4">AccountStatus: Activated</td>
                            </tr>
                            <tr>
                                <td class="text-left p-1 pl-4">Created: 18-March-2019</td>
                            </tr>
                            <tr>
                                <td class="text-left p-1 pl-4">Last Modified: 18-March-2020</td>
                            </tr>
                            <tr>
                                <td class="text-left p-1 pl-4">Last Login: 18-March-2020</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 text-section align-center" style="padding:10px;">
                    <h2 class="mbr-fonts-style mbr-title pb-3 display-4 text-left">myCRF™ Ranking Profile</h2>
                    <div class="container">
                        <div class="row justify-content-center content-center vertical-menu">
                            <div class="col-md-6 text-section align-left" style="padding:10px;">
                                <ul class="mbr-fonts-style mbr-text display-7 text-left">
                                    <li>Period: <b>S1-2020</b></li>
                                    <li>Job Title: <b>Software Engineer</b></li>
                                    <li>Rank: <b>Senior Engineer</b></li>
                                    <li>Self-Assessment Points: <b>68</b></li>
                                    <li>Reviewed Points: <b>69</b></li>
                                </ul>
                            </div>
                            <div class="col-md-6 text-section align-left" style="padding:10px;">
                                <ul class="mbr-fonts-style mbr-text display-7 text-left">
                                    <li>Period: <b>S2-2020</b></li>
                                    <li>Profile title: <b>JavaFX and Oracle Engineer.</b></li>
                                    <li>Pattern: <b>Software Engineer</b></li>
                                    <li>Created: <b>1/June/2020</b></li>
                                    <li>Updated: <b>1/June/2020</b></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row justify-content-center content-center vertical-menu">
                            <div class="col-md-12 text-section align-left" style="padding:10px;">
                                <p class="mbr-fonts-style mbr-text display-7 text-center">---
                                    <a title="Responsibilities and Roles" href="/NewProfile/">🔵</a>---
                                    <a title="Business Contributions" href="/NewProfile/BusinessContributions/">🔵</a>---
                                    <a title="Professional Skills" href="/NewProfile/ProfessionalSkills">🔵</a>---
                                    <a title="Engineering Skills" href="/NewProfile/EngineeringSkills/">🔵</a>---🔴---
                                    <a title="NaturalLanguage Skills" href="/NewProfile/NaturalLanguageSkills/">🔘</a>---
                                    <a title="Knowledge and Education" href="/NewProfile/KnowledgeDegrees/">🔘</a>---
                                    <a title="Profile Ranking Summary" href="/NewProfile/ProfileRankingSummary/">🔘</a>---
                                </p>
                            </div>
                        </div>

                        <div class="row justify-content-center content-center">
                            <div class="col-md-12 text-section align-left" style="padding:10px;">

                                <table border="0" style="width:100%;">
                                    <tbody>
                                        <tr style="background-color:#66F5F5;">
                                            <td class="text-left">Non-Engineering Skills</td>
                                            <td class="text-center vertical-menu">Source Information</td>
                                            <td class="text-center vertical-menu"><b>20%</b></td>
                                            <td class="text-left align-center" nowrap="" style="width:110px;">Proficiency Level</td>
                                        </tr>
                                        <tr style="background-color:#DBDADA;">
                                            <td tr-click="table-row-51" class="text-left table-row-course-top-style">Business or Domain Skills <img image-icon="table-row-51" src="/icons/arrowUp.png" class="image-nosize"></td>
                                            <td class="text-center vertical-menu">
                                                <select style="width:150px;">
                                                
                                                <option value="0">Unknown</option>
                                                <option value="1">Jira</option>
                                                <option value="2">DevOps</option>
                                                <option value="3">SRF System</option>
                                                <option value="4">PMO</option>
                                                <option value="5" selected="">CTC</option> 
                                                
                                            </select>
                                            </td>
                                            <td class="text-center vertical-menu">2%</td>
                                            <td class="text-left align-top" nowrap="">
                                                <select style="width:150px;">
                                                <option value="0">No Knowledge</option>
                                                <option value="1">Fundamental Awareness</option>
                                                <option value="2">Limited Experience</option>
                                                <option value="3" selected="">Intermediate</option>
                                                <option value="4">Advanced</option>
                                                <option value="5">Expert</option>
                                                <option value="6">Master</option>
                                            </select>
                                            </td>
                                        </tr>
                                        <tr id="table-row-51">
                                            <td class="text-left" colspan="2">
                                                <ul class="mbr-fonts-style mbr-text display-7 text-left">
                                                    <li>Finance, Insurance, Aviation, Automotive, Oil and Gas, Health Care, ERP, Data Warehouse</li>

                                                </ul>
                                            </td>
                                            <td class="text-left vertical-menu">&nbsp;</td>
                                            <td class="text-left align-top vertical-menu" nowrap="">&nbsp;</td>
                                        </tr>
                                        <tr style="background-color:#DBDADA;">
                                            <td tr-click="table-row-52" class="text-left table-row-course-top-style">[Specific] Functional &amp; Application Skills <img image-icon="table-row-52" src="/icons/arrowUp.png" class="image-nosize"></td>
                                            <td class="text-center vertical-menu">
                                                <select style="width:150px;">
                                                
                                                <option value="0">Unknown</option>
                                                <option value="1">Jira</option>
                                                <option value="2">DevOps</option>
                                                <option value="3">SRF System</option>
                                                <option value="4">PMO</option>
                                                <option value="5" selected="">CTC</option> 
                                                
                                            </select>
                                            </td>
                                            <td class="text-center vertical-menu">8%</td>
                                            <td class="text-left align-top" nowrap="">
                                                <select style="width:150px;">
                                                <option value="0">No Knowledge</option>
                                                <option value="1">Fundamental Awareness</option>
                                                <option value="2" selected="">Limited Experience</option>
                                                <option value="3">Intermediate</option>
                                                <option value="4">Advanced</option>
                                                <option value="5">Expert</option>
                                                <option value="6">Master</option>
                                            </select>
                                            </td>
                                        </tr>
                                        <tr id="table-row-52">
                                            <td class="text-left" colspan="2">
                                                <ul class="mbr-fonts-style mbr-text display-7 text-left">
                                                    <li>Finance &amp; Accounting, Sales &amp; Distribution, Inventory &amp; Procurement, Manufacturing, Quality Management, Enterprise Asset Management, Facility and Real Estate Management, Logistics Management,
                                                        Warehouse Management, Human Capital Management, Integration … </li>
                                                </ul>
                                            </td>
                                            <td class="text-left vertical-menu">&nbsp;</td>
                                            <td class="text-left align-top vertical-menu" nowrap="">&nbsp;</td>
                                        </tr>
                                        <tr style="background-color:#DBDADA;">
                                            <td tr-click="table-row-53" class="text-left table-row-course-top-style">Product and Service Management Skills <img image-icon="table-row-53" src="/icons/arrowUp.png" class="image-nosize"></td>
                                            <td class="text-center vertical-menu">
                                                <select style="width:150px;">
                                                
                                                <option value="0">Unknown</option>
                                                <option value="1">Jira</option>
                                                <option value="2">DevOps</option>
                                                <option value="3">SRF System</option>
                                                <option value="4">PMO</option>
                                                <option value="5" selected="">CTC</option> 
                                                
                                            </select>
                                            </td>
                                            <td class="text-center vertical-menu">1%</td>
                                            <td class="text-left align-top" nowrap="">
                                                <select style="width:150px;">
                                                <option value="0">No Knowledge</option>
                                                <option value="1">Fundamental Awareness</option>
                                                <option value="2" selected="">Limited Experience</option>
                                                <option value="3">Intermediate</option>
                                                <option value="4">Advanced</option>
                                                <option value="5">Expert</option>
                                                <option value="6">Master</option>
                                            </select>
                                            </td>
                                        </tr>
                                        <tr id="table-row-53">
                                            <td class="text-left" colspan="2">
                                                <ul class="mbr-fonts-style mbr-text display-7 text-left">
                                                    <li>Customer Experience, Vision Development, Processes and Activities, Pricing and Positioning Strategies, Drive Product Launch, …</li>
                                                </ul>
                                            </td>
                                            <td class="text-left">&nbsp;</td>
                                            <td class="text-left align-top" nowrap="">&nbsp;</td>
                                        </tr>
                                        <tr style="background-color:#DBDADA;">
                                            <td tr-click="table-row-54" class="text-left table-row-course-top-style">Pre-Sales / Technical Sales Skills <img image-icon="table-row-54" src="/icons/arrowUp.png" class="image-nosize"></td>
                                            <td class="text-center vertical-menu">
                                                <select style="width:150px;">
                                                
                                                <option value="0">Unknown</option>
                                                <option value="1">Jira</option>
                                                <option value="2">DevOps</option>
                                                <option value="3">SRF System</option>
                                                <option value="4">PMO</option>
                                                <option value="5" selected="">CTC</option> 
                                                
                                            </select>
                                            </td>
                                            <td class="text-center vertical-menu">1%</td>
                                            <td class="text-left align-top" nowrap="">
                                                <select style="width:150px;">
                                                <option value="0">No Knowledge</option>
                                                <option value="1">Fundamental Awareness</option>
                                                <option value="2" selected="">Limited Experience</option>
                                                <option value="3">Intermediate</option>
                                                <option value="4">Advanced</option>
                                                <option value="5">Expert</option>
                                                <option value="6">Master</option>
                                            </select>
                                            </td>
                                        </tr>
                                        <tr id="table-row-54">
                                            <td class="text-left" colspan="2">
                                                <ul class="mbr-fonts-style mbr-text display-7 text-left">
                                                    <li>Issues and Opportunities of Solution, Limitation of Current Solution, Business Viewpoints for New Solution, …</li>
                                                </ul>
                                            </td>
                                            <td class="text-left vertical-menu">&nbsp;</td>
                                            <td class="text-left align-top vertical-menu" nowrap="">&nbsp;</td>
                                        </tr>
                                        <tr style="background-color:#DBDADA;">
                                            <td tr-click="table-row-55" class="text-left table-row-course-top-style">Workplace Skills and Soft Skills <img image-icon="table-row-55" src="/icons/arrowUp.png" class="image-nosize"></td>
                                            <td class="text-center vertical-menu">
                                                <select style="width:150px;">
                                                
                                                <option value="0">Unknown</option>
                                                <option value="1">Jira</option>
                                                <option value="2">DevOps</option>
                                                <option value="3">SRF System</option>
                                                <option value="4">PMO</option>
                                                <option value="5" selected="">CTC</option> 
                                                
                                            </select>
                                            </td>
                                            <td class="text-center vertical-menu">10%</td>
                                            <td class="text-left align-top" nowrap="">
                                                <select style="width:150px;">
                                                <option value="0">No Knowledge</option>
                                                <option value="1">Fundamental Awareness</option>
                                                <option value="2">Limited Experience</option>
                                                <option value="3" selected="">Intermediate</option>
                                                <option value="4">Advanced</option>
                                                <option value="5">Expert</option>
                                                <option value="6">Master</option>
                                            </select>
                                            </td>
                                        </tr>
                                        <tr id="table-row-55">
                                            <td class="text-left" colspan="2">
                                                <ul class="mbr-fonts-style mbr-text display-7 text-left">
                                                    <li>Personal Skills: 2-Way Communication, Presentation, Counselling, Motivating and Proactivity, ...</li>
                                                    <li>Workplace Skills: Critical Thinking and Problem Solving, Forecasting and Decision-Making, Policy / Law Knowledge and Savvy, …</li>
                                                    <li>Professional Communication Skills: Direct Communication within Professional Teams, Direct Communication with client and partner teams, ...</li>
                                                </ul>
                                            </td>
                                            <td class="text-left vertical-menu">&nbsp;</td>
                                            <td class="text-left align-top vertical-menu" nowrap="">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <br><i>You are now can update and finish profile OR update profile and continue to rankings of Natural Language Skills page.</i><br>
                                <br>
                                <p class="mbr-fonts-style mbr-text display-7 text-left"><a href="/MyProfiles/" class="btn btn-black" role="button">Update</a><a href="/NewProfile/NaturalLanguageSkills/" class="btn btn-black" role="button">Update &amp; Continue</a><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer of Page -->
    <div th:replace="my-teamplate.html :: footer"></div>>

</body>

</html>