<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Meta tag -->
    <div th:replace="my-teamplate.html :: head/meta"></div>
    <!-- Bootstrap CSS, CSS -->
    <div th:replace="my-teamplate.html :: head/link"></div>
    <!-- Jquery, JavaScript -->
    <div th:replace="my-teamplate.html :: head/script"></div>
    <title>Forgot Password Page</title>
</head>

<body>
<!-- Navigation menu -->
<div th:replace="my-teamplate.html :: header"></div>
<!-- Main content -->
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 align-center bg-light">
                <h2 class="display-4 mb-4">CREATE a new myCRF™ Account</h2>
                <p class="text-left">
                    To use our CRF™ Services, you need to create a new myCRF™ Account, myCRF™ account will allows you to use our services experience better.
                </p>
                <ul class="text-left pl-4 mb-4">
                    <li>myCRF™ is your fantastic hotline to CRF™ system!</li>
                    <li>CRF™ system will be automatic signed in if you are not sign out.</li>
                    <li>myCRF™ is your fantastic hotline to CRF™ system!</li>
                    <li>CRF™ system will be automatic signed in if you are not sign out.</li>
                </ul>
                <p class="text-left mb-3">
                    If you are new to CRF™ system, please register yourself to use our services.
                </p>
                <p class="text-center">
                    <a class="btn btn-outline-info p-2" href="#">Create myCRF™ Account Now</a>
                </p>
            </div>
            <div class="col-md-6 justify-content-left">
                <h2 class="display-4 mb-4">Forgot myCRF™ Account Password</h2>
                <p class="text-left">
                    Recover your password using your email!
                </p>
                <form th:action="@{/forgot-password}" method="POST">
                    <div class="form-group text-danger font-weight-bold" th:text="${message}"></div>
                    <div class="form-group w-50">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control" id="email" name="email" th:name="email" placeholder="Input your email">
                        <small id="emailHelp" class="form-text text-muted">Email format: abcxzy@zz.yyy</small>
                    </div>
                    <div class="form-group w-50">
                        <div class="g-recaptcha" th:data-sitekey="${@environment.getProperty('recaptcha.key.site')}"></div>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-success mt-4 mb-2 font-weight-bold" name="submit">Recover Now! »</button>
                    <hr>
                </form>
                <p class="text-left">You have a myCRF™ Account?</p>
                <p class="text-left">
                    <a class="btn btn-outline-primary p-2"
                       href="/templates/login.html" th:href="@{/login}">Sign-in CRF™ system Now</a>
                </p>
            </div>
        </div>
    </div>
</main>
<!-- Footer of Page -->
<div th:replace="my-teamplate.html :: footer"></div>
</body>

</html>