<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Meta tag -->
    <div th:replace="my-teamplate.html :: head/meta"></div>
    <!-- Bootstrap CSS, CSS -->
    <div th:replace="my-teamplate.html :: head/link"></div>
    <!-- Jquery, JavaScript -->
    <div th:replace="my-teamplate.html :: head/script"></div>
    <title>Recover Password Page</title>
</head>

<body>
<!-- Navigation menu -->
<div th:replace="my-teamplate.html :: header"></div>
<!-- Main content -->
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 align-center bg-light">
                <h2 class="display-4 mb-4">CREATE a new myCRF™ Account</h2>
                <p class="text-left">
                    To use our CRF™ Services, you need to create a new myCRF™ Account, myCRF™ account will allows you to use our services experience better.
                </p>
                <ul class="text-left pl-4 mb-4">
                    <li>myCRF™ is your fantastic hotline to CRF™ system!</li>
                    <li>CRF™ system will be automatic signed in if you are not sign out.</li>
                    <li>myCRF™ is your fantastic hotline to CRF™ system!</li>
                    <li>CRF™ system will be automatic signed in if you are not sign out.</li>
                </ul>
                <p class="text-left mb-3">
                    If you are new to CRF™ system, please register yourself to use our services.
                </p>
                <p class="text-center">
                    <a class="btn btn-outline-info p-2" th:href="@{/register}">Create myCRF™ Account Now</a>
                </p>
            </div>
            <div class="col-md-6 justify-content-left">
                <h2 class="display-4 mb-4">Recover myCRF™ Account Password</h2>
                <p class="text-left">
                    Dear <span th:text="${user.employee.firstName}"></span>,
                </p>
                <p class="text-left pt-2">
                    We received a request to reset the password for your CRF™ account.
                    Your account full name is <span th:text="${user.employee.firstName}"></span> and request has sent to your mailbox.
                </p>
                <p class="text-left pt-2">
                    If you wish to reset your password, use the embedded link in your email to confirm the request. Otherwise, please ignore that email.
                </p>
                <p class="text-left">IF You have a myCRF™ Account?</p>
                <p class="text-left">
                    <a class="btn btn-outline-primary p-2"
                       th:href="@{/login}">Sign-in CRF™ system Now</a>
                </p>
            </div>
        </div>
    </div>
</main>
<!-- Footer of Page -->
<div th:replace="my-teamplate.html :: footer"></div>
</body>

</html>